<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Basics Metas Configs -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Urna eletronica</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon-32x32.png" type="image/x-icon">

    <!-- Boosttap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Default style CSS -->
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <form action="/" method="get"> <!-- ?chave=valor,chave=valor,...-->
        <div class="calc container-fluid ">

                <!-- ================= -->
                
                <!-- ================= -->
            <div class="row calc-content justify-content-center w-100 mx-auto" >
                <div class="col-12 col-md-8 col-lg-6 col-xl-4 " style="width: 2000px;">

                    <!-- Top of the Calculator -->
                    <div class="container calc-top">

                        <!-- Theme toggle options  -->
                        <div class="calc-top row">

                            <h3 class="col-6">Urna</h3>
                        </div>

                        <!-- Input to put the results  -->
                        <!-- <div class="calc-top-result row">
                            <input type="number" class="col-12" id="result" disabled></input>
                        </div> -->

                    <!-- Screen of Print image -->
                    <div class="calc-keys" style="height: 320px; width: 1100px;">
                        <div class="container" style="height: 400px; width: 500px; float: left;">
                            <div class="container">
                                <div class="row">
                                <img class="col" alt="Bootstrap Image Preview" src={{imagem}} style="height: 280px; width: 250px; float: left;"/>
                                <input class="col" type="number" class="col-12" id="result" style="height: 60px; width: 120px;" disabled></input>
                                </div>
                            </div>
                        </div>                        
                        <!-- All the Keys/Buttons for the Calculator Works -->
                        <div class="container" style="height: 400px; width: 500px; float: right;">
                            <div class="row">
                                <input class="col" type="button" value="1" onclick="input('1')">
                                <input class="col" type="button" value="2" onclick="input('2')">
                                <input class="col" type="button" value="3" onclick="input('3')">
                            </div>
                            <div class="row">
                                <input class="col" type="button" value="4" onclick="input('4')">
                                <input class="col" type="button" value="5" onclick="input('5')">
                                <input class="col" type="button" value="6" onclick="input('6')">
                            </div>
                            <div class="row">
                                <input class="col" type="button" value="7" onclick="input('7')">
                                <input class="col" type="button" value="8" onclick="input('8')">
                                <input class="col" type="button" value="9" onclick="input('9')">
                            </div>
                            <div class="row">
                                <input class="col" type="button" disabled>
                                <input class="col" type="button" value="0" onclick="input('0')">
                                <input class="col" type="button" disabled>
                            </div>
                            <div class="row">
                                <input class="col" type="button" value="Branco" id="reset" onclick="reset()">
                                <input class="col" type="button" value="Corrige" id="reset" onclick="del()">
                                <input class="col" type="submit" value="Confirma" onclick="buscarImagem()">
                            </div>
                        </div>
                </div>
            </div>
        </div>
</form>
    <!-- Link Boostrap JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Link Script Js -->
    <script src="static/script.js"></script>
</body>
</html>